.upload-transcribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}

.error-message {
    color: red;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.success-message {
    color: green;
}

.upload-input {
    margin: 20px 0;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="file"] {
    display: none;
}

.button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #3e8e41;
}

.button:disabled {
    background-color: rgb(153, 153, 153);
    cursor: not-allowed;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.upload-button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    background-color: #3b3b3b;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.form-group.translate-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}

.translate-group label {
    margin-top: 5px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: none;
}

.form-group input[type="checkbox"] {
    margin-left: 10px;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 5px;
}

.output-format-select {
    width: auto;
    min-width: 150px;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

body {
    margin: 0;
    font-family: sans-serif;
}